$header_height: 60px;
$font: "Orbitron", sans-serif;

$background: #7c7b7b;

$background_main: #f8ecec;
$table_hover: #fdeeee;
$border: #b6b9ba;
$border_blue: #78a8d2;

$text_dark: #363a3e;
$text_white: #ffffff;
$text_green: #3db859;
$text_blue: #66a8ef;
$text_placeholder: #b9b5b5;
$text_input: #726e6e;

$blue: #69aff9;
$blue_hover: #0069d9;
$blue_light: rgb(96, 181, 255) 8;
$blue_hover: #4d62f0;
$green: #3db859;
$green_hover: #327941;
$gray: rgb(188, 187, 187);
$gray_hover: rgb(78, 77, 77);
$yellow: #e9cf82;
$yellow_hover: #a08e58;
$red: #f85868;
$red_hover: #9e303b;
$red_disabled: #f1c7ca;


$blue_focus: rgba(10, 75, 146, 0.3);
$green_focus: rgba(72, 180, 97, 0.5);
$yellow_focus: rgba(185, 141, 12, 0.5);
$red_focus: rgba(241, 24, 46, 0.5);
$blue_light_focus: rgba(27, 90, 100, 0.5);
